
@{
    ViewBag.Title = "SuperIndex";
    Layout = "~/Views/Shared/_SuperLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuperIndex</title>
</head>
<body>
    <div>
        <h1>Welcome to Super Admin</h1>
        <br />
        <br />
        <br />
        <h3>Super Admin Landing page</h3>
    </div>
</body>
</html>
